body{
    background-color: brown;
}
h1{
    color: whitesmoke;
}
@media (min-width:640px) {
    body{
        background-color: aqua;
    }
    h1{
        color: red;
    }
}
@media (min-width:768px) {
    body{
        background-color: green;
    }
    h1{
        color: white;
    }
}